<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is home page</h1>
    <h1>Author: {{author}}</h1>
    <h1>Age: {{age}}</h1>

    <!-- conditional statement -->
    {% if age >= 20 %}
    <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>You will get not driving license</h4>
    {% else %}
    <h4>You're child</h4>
    {% endif %}

    <!--for loop  -->
    {% for i in courses%}
    <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    {% endfor %}

    <!-- Template Filtering -->
    <h1>{{ lst | join:" - " }}</h1>
    <h2>{{birthday| date:"D d M Y" }}</h2>
    <h2>{{ birthday|date:"SHORT_DATE_FORMAT" }}</h2>
    <h2>{{ add | add:"5" }}</h2>
    <h2>{{ ct | cut:" " }}</h2>
    <h2>{{ len | length }}</h2>
    <h2>{{ low | lower }}</h2>
    <h2>{{'Happy coding python' | truncatechars:6 }}</h2>
    <h2>{{"Django is best framework!" | truncatewords:2}}</h2>
  </body>
</html>
